html{
    font-size: 62.5%;
}
body{
    font-size: 1.6em;
 
 
}
.grid{
    display: grid;
   
    height: 58em;
    border: solid white;
    background-color: #BBCCFF;
  
}

header{
    display: flex;
    margin-left: 0;
    height: 5em;
    border: solid white 0.5em; 
    width: 100%;
    margin-right: 20.5%;
    
}

.ads{
    position: absolute;
    border: solid white 0.5em;
    width: 100%;
    height: 5em;
    margin-left: 80%;
   

}
.ads div{
     margin-left: 0;
}
nav{
    position: absolute;
    display: flex;
    border: solid white 0.5em;
    width: 20%;  
    height: 51.5em;
    margin-top: 5.5em;
   
    
}
p{
   padding-left: 1em;
   font-size: large;
   font-weight: bold;

}
article{    height: 38em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 3em;
    margin-left: 22.9em;
    margin-top: 0em;
    align-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
 
}
h1{
    padding-left: 13em;
}

article section{
  
    border: solid #BBCCFF;
    width: 38em;
    background-color: white;
    height: 10em;

}

footer{
    display: flex;
    border: solid white 0.5em;
    width: 80%;
    margin-left: 20.6%;
    margin-right: 3em;
   
    
}
section{
    font-weight: bold;
    padding: 0.2em;
}
