html{
   font-size:62.5% ; 
}
body{
    font-size: 1.6em;
    background-color: rgb(209, 182, 226);
}
.formulaire{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 10em;
    width: 50%;
    margin-left: 13em;
    padding-left: 10em;
    padding-top: 0.5em;
    padding-bottom: 0;
    background-color: rgb(19, 105, 19);
}
.Qte{
    top: 0;
}

.unitaire{
    margin-left: 2em;

}
.unitaire1{
    margin-left: 2em;
}

.prix{
    margin-left: 2em;
}
.prix1{
    margin-left: 2em;
}

