html{
    font-size: 62.5%;
}
body{
    font-size: 1.6em;
    background-color:#fff;
}
tr:nth-child(2n){
    background-color: rgb(217, 208, 208);
    
}
td{
   text-align: center;
   padding:10px;

   
    width: 5em;
}
th{
    background-color: #999;
    color: #fff;

    margin:10px;
}
#jeux{ width: 50%;
margin-left: auto;
margin-right: auto;
}



