html
{
    font-size: 62.5%;
}
body
{
    background-color: rgb(200, 240, 240);
    font-size: 1.6em;
    color:  rgb(10, 131, 131);
}

/*
/////Formulaire Simulation de prêt
*/
form
{
  
    font-weight: bold;
    font-size: 1.2em;
    color:  rgb(10, 131, 131);
    width: auto;
    margin-left: 22%;
    margin-right: 22%;
    text-align: center; 
}
#fieldset
{
   
    background-color: rgb(159, 209, 209);
     
}
legend
{
    text-align: center;
    font-size: 0.7em;
    color:  rgb(10, 131, 131);
    width: auto;
    margin-left: auto;
    margin-right: auto;
  
}
label
{
    
    text-align: center;
    color:  rgb(51, 153, 153);
    font-size: 0.6em;
}
#capital
{
    background-color: rgb(223, 219, 219);
    margin-right: 4%;

}
#taux_interet
{
    background-color: rgb(223, 219, 219);
    margin-right: 2em;
}
#duree
{
    background-color: rgb(223, 219, 219);
    margin-right: 10em;
}
#mensualite
{
    background-color: rgb(223, 219, 219);
    margin-right: 4em;
}
/*
/////Tableau d'amortissement du prêt
*/
#table
{
    background-color: rgb(159, 209, 209);
    color:  rgb(51, 153, 153);
    border: solid 1px;
}
#Numero_de_mois{
    background-color: rgb(159, 209, 209);
}
#interet
{
    background-color: rgb(159, 209, 209);
}
#Partie_amortissement
{
    background-color: rgb(159, 209, 209);
}
#Capital_restant_du
{ 
    background-color: rgb(159, 209, 209);
}
