html{
    font-size: 62.5%;
}
body{
    font-size: 1.6em;
    background-color: rgb(50, 129, 178);
}
form{
  
    height: 15em;
    width: 50em;
    background-color: rgb(83, 128, 81);

}
form input{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
fieldset{
    display: flex;
    flex-direction: row;
}
